.cardVanzari{
    width: 50vmax !important;
    height: 11vmax;
    cursor: pointer;
    margin-top: 5vmax;
    background-color: rgba(45,45,45,0.7) !important;
    border-radius: 1vmax !important;
}
.cardBodyVanzari{
    padding:0 !important;
}

.imgCardVanzari{
    width:30%;
    height:100%;
    display:inline-block;
    float:left;
    border-radius: 1vmax 0 0 1vmax !important;
}

.divTextCardVanzari{
    padding-top: 1%;
    padding-left: 20%;
}

.textCardVanzari{
    width:70%;
    height:fit-content;
    display:inline-block;
    color: whitesmoke;
    text-align: left;
    font-size: 1vmax;
    margin-bottom: 0.6vmax !important;
}

.imgCardDreaptaVanzari{
    width:30%;
    height:100%;
    display:inline-block;
    float:right;
    border-radius:0 1vmax 1vmax 0!important;
}

.divTextCardDreaptaVanzari{
}

.textCardDreaptaVanzari{
    padding-top: 3%;
    padding-right: 6%;
    width:70%;
    height:fit-content;
    display:inline-block;
    color: whitesmoke;
    text-align: right;
    font-size: 1vmax;
    margin-bottom: 0.6vmax !important;
    float: left;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: rgba(61, 61, 61, 0.7) radial-gradient(circle, transparent 1%, rgba(70, 69, 69, 0.7) 1%) center/15000%;
}
.ripple:active {
    background-color: rgba(72, 71, 71, 0.7);
    background-size: 100%;
    transition: background 0s;
}